

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
  background: #000;
}
body > * {
  margin: 0 15px;
}


.btn {
  font-size: 2rem;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: Arial;
  font-weight: 700;
  position: relative;
  display: inline-block;
  z-index: 10;
  transition: 0.4s;
  color: #fff;
  -webkit-box-reflect: below 2em transparent;
}
.btn:hover, .btn:focus {
  color: #000;
  animation: button-shadow 0.4s forwards;
  transition-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-box-reflect: below 2em linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}
@keyframes button-shadow {
  40% {
    box-shadow: 0 0 7em 0 rgba(124, 255, 1, 0.5), 0 0 2em 0 rgba(124, 255, 1, 0.1);
    background: #7cff01;
    text-shadow: 0 0 1em currentColor;
    color: #000;
  }
  42% {
    box-shadow: 0 0 0 0 transparent;
    background: rgba(124, 255, 1, 0.6);
    text-shadow: 0 0 1em transparent;
    color: #4d4d4d;
  }
  100% {
    box-shadow: 0 0 3em 0 rgba(124, 255, 1, 0.7), 0 0 2.5em 0 rgba(124, 255, 1, 0.5), inset 0 0 4em rgba(255, 255, 255, 0.82);
    background: #7cff01;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    color: #000;
  }
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transition: 0.4s width, 0.4s height, 0.4s border-color;
  border: 0.1em transparent solid;
}
.btn:before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}
.btn:after {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none;
}
.btn:hover:before, .btn:hover:after, .btn:focus:before, .btn:focus:after {
  width: 100%;
  height: 100%;
  border-color: #7cff01;
  border-radius: 0;
}
.btn__inner {
  position: relative;
  padding: 1em 2.5em;
  display: block;
  pointer-events: none;
}
.btn__inner:after {
  content: "";
  position: absolute;
  top: calc(100% + 2.75em);
  left: 50%;
  width: 20em;
  height: 15em;
  border-radius: 50%;
  transform: translateX(-50%) scale(1.2);
  background-image: linear-gradient(to bottom, #7cff01, transparent 25%);
  filter: blur(0.5em);
  opacity: 0;
  z-index: -1;
}
.btn:hover .btn__inner:after {
  animation: inner-opacity 0.4s forwards;
  animation-delay: 0.4s;
}
@keyframes inner-opacity {
  40% {
    opacity: 0.03;
  }
  42% {
    opacity: 0.01;
  }
  100% {
    opacity: 0.1;
  }
}

